.testimonial-page {
	.hero-banner {
		background-position: center;
		
	}
	.client-text {
		text-align: center;
		max-width: 900px;
		float: none;
		margin: 0 auto !important;

		h2 {
			color: hubl("$main_font_color");
			font-size: 40px;
			text-align: center;
			margin-bottom: 40px;
			text-transform: none;
			font-weight:300;
			span {
				color: hubl("$cta_background");
				letter-spacing: 3px;
			}
		}
	}
	.logo-group {
		.span12.widget-type-widget_container > span {
			display: flex;
			flex-wrap: wrap;
			>div {
				width:20%;
				width: 200px;
				margin: 20px auto;
			}
			.img_wrapper {
				margin: 0 auto;
				img {
					filter: none;
					opacity: 0;
					&.img_greyscale {
						opacity: 0.2;
						filter: none;
						&:hover {
							filter: none;
							cursor: pointer;
							opacity: 0;
							+ img {
								filter: none;
								opacity: 1;
							}
						}
					}
				}
			}
			img {
				display: block;
				margin: 0 auto;
				padding: 50px 0;
				filter: grayscale(100%) opacity(.2);
				max-width: 200px;
				height: auto;
				transition: all 0.5s ease;
				&:hover {
					cursor: pointer;
					filter: none;
				}
			} 
		}
	}
	div.container.default {
		.logo-group {
			img {
				filter: none;
				opacity: 1;
				&:hover {
					filter: none;
					opacity: 0.7;
				}
			}
		}
	}
}