.careers-with-search-website{
	.careers-with-search .listing-careers-search .single-post{
		border: none;
		border-bottom: 1px solid #fafafa;
		&:last-child{
			border-bottom: none;
		}
	}

	
	h2 {
	    font-size: 36px;
	    color: #626262;
	    text-decoration: none;
	    text-transform: none;
	    text-align: left;
	    font-weight: normal;
	    text-align: center;
	    letter-spacing: .04em;
	    margin-top: 10px;
    	margin-bottom: 50px;
	    span{
	    	letter-spacing: 3px;
	    }
	}

	.jobs-pagination{
		margin-bottom: 60px;
	}
}