	.homeslider {
	    .mask {
	        background-color: rgba(0, 0, 0, 0.36);
	        height: 100%;
	    }
	    .slick-dots {
	        bottom: 30px;
	        width: 100%;
	        list-style: none;
	        text-align: center;
	        li {
	            button:before {
	                font-size: 26px;
	            }
	            &.slick-active {
	                button:before {
	                    color: #fff;
	                }
	            }
	        }
	    }
	    .slick-arrow {
	        position: absolute;
	        top: 50%;
	        width: auto;
	        height: auto;
	        transform: translateY(-50%);
	        z-index: 1;
	        &.slick-prev {
	            left: 48px;
	            &:before {
	                content: '';
	                background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png');
	                background-repeat: no-repeat;
	                background-size: cover;
	                width: 30px;
	                height: 58px;
	                display: block;
	            }
	        }
	        &.slick-next {
	            right: 48px;
	            &:before {
	                content: '';
	                background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png');
	                background-repeat: no-repeat;
	                background-size: cover;
	                transform: scaleX(-1);
	                width: 30px;
	                height: 58px;
	                display: block;
	            }
	        }
	    }
	    .slide {
	        position: relative;
	        height: 100vh;
	        min-height: 600px;
	        background-position: center;
	        background-size: cover;
	        .content {
	            position: absolute;
	            top: 50%;
	            left: 50%;
	            transform: translate(-50%, -50%);
	            min-width: 80%;
	            h1 {
	            	width: 80%;
	                display: block;
	                margin: 0 auto;
	                color: #fff;
	                font-weight: 300;
					letter-spacing: -1px;
					
	                span {
	                    font-weight: 300;
	                    color: hubl("$cta_background");
	                }
	            }
	            h2,
	            h3,
	            h4,
	            h5,
	            h6 {
	                color: #fff;
	            }
	            p {
					letter-spacing:-1px;
					line-height: 27px;
	                color: #fff;
	                font-size: 21px;
	                font-weight: normal;
	                text-align: center;
	            }
	            p:last-of-type {
	                    letter-spacing: -1px;
						line-height: 27px;
						font-size: 21px;
						font-weight: normal;
						text-align: center;
	                a.cta_button {
	                    position: relative;
	                    margin-bottom: 20px;
	                    margin-left: 10px;
	                    margin-right: 10px;
	                }
	                >.hs-cta-wrapper:first-of-type {
	                    a.cta_button {
	                        position: relative;
	                    }
	                }
	            }
	        }
	    }
	}
	
	@media (max-width: 767px) {
	    .homeslider {
	        .slide {
	            .content {
	                p {
	                    font-size: 15px;
	                }
	            }
	        }
	    }
	}

	@media (max-width: 480px) {
		.homeslider {
	        .slide {
	            .content {
	                h1 {
	                	width: 100%;
	                    font-size: 40px;
	                }
	            }
	        }
	    }
	}
