figure.people {
	width: 210px;
	margin: 25px 37px;
	.image {
    width: 210px;
    height: 210px;
    background-size: cover;
    background-color: white;
	background-position: center center;
	border-radius: 50%;
    overflow: hidden;
    	position: relative;
	}
	.image:hover .people-hover {
    		clip: rect(0px,211px,211px,0px);
    }
	.name-and-surname {
		font-size: 21px;
		color: hubl("$cta_background");
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		margin: 20px 0 8px 0;
		line-height: 1;
	}
	.job {
    font-size: 16px;
    color: hubl("$main_font_color");
    text-align: center;
    margin: 0;
	}
	.people-hover {
		box-shadow: inset 0 0 0 211px hubl("$cta_background");
		display: inline-block;
		width: 210px;
		transition: all 0.3s;
		background-color: hubl("$cta_background");
		height: 209.9px;
    	transition: 0.5s;
    	position: absolute;
        clip: rect(210px, 210px, 210px, 0px);
		a {
			display: inline-block;
    		margin-top: 90px;
		}
		.social-icons {
			text-align: center;
		}
		.icon-circle {
			margin-top: 80px;
			text-align: center;
			width: 35px;
			height: 35px;
			background-color: white;
			border-radius: 50%;
			display: inline-block;
			margin: 0 3px;	
	    	i {
    			text-align: center;
    			color: hubl("$cta_background");
    			font-size: 25px;
    			display: block;
    			line-height: 35px;
			}
		}
	}
}
.people-wrapper > .hs_cos_wrapper_widget_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}