//--------------RESOURCES CATEGORY STYLES-------------

.resource-categories__list {
  list-style: none; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 100px;
  white-space: nowrap;
  flex-wrap: wrap;
  /*@media screen and (max-width: 1000px) {
	flex-wrap: wrap;  	
  }*/
  @media screen and (max-width: 500px) {
  	flex-direction: column;
  	margin-top: 30px;
  }
}

.resource-categories__element {
  cursor: pointer;
  padding: 10px 25px;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 1.1em;
  border: 2px solid hubl("$cta_background");
  color: hubl("$cta_hover_color");
  margin: 10px;
  text-align: center;
  @media screen and (max-width: 1000px) {
  	text-align: center;
  }
  &--active {
    background: hubl("$cta_background");
    color: white;
  }
}
.resource-categories__element:hover {
    background: hubl("$cta_background");
    color: white;
}
