    ul{
        &.social{ 
        padding: 0px; 
        margin: 0px; 
        margin-bottom: 40px; 
        li{ 
          margin-right: 10px; 
          display: inline-block; 
          &:before{
            display:none;
          }
            a{ 
            height: 42px; 
            width: 42px; 
            display: block; 
            text-align: center; 
            line-height: 42px; 
            background-color: hubl("$cta_background"); 
            border-radius: 3px;  
            border:solid 1px hubl("$cta_background"); 
            color: #fff; 
            &:hover{ 
                background-color: hubl("$cta_hover_background"); 
                color: hubl("$cta_hover_color"); 
              } 
            i{ 
              font-size: 20px; 
            }
          } 
        } 
      } 
    }
