.square-box {
	position: relative;
	height: 100%;
	background: hubl("$first_color");
	border-radius: 4px;
	padding: 35px 25px;

	.mask {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0);
		z-index: 1;
	}

	&__image-container, &__content {
		position: relative;
		z-index: 2;
	}

	h4 {
		color: #fff;
		font-size: 20px;
		font-weight: 600;
	}

	p {
		color: #fff;
		font-size: 16px;
	}
}